<h2>Diretivas</h2>
<!-- 
As diretivas são classes que adicionam comportamento 
adicional aos elementos em seus aplicativos Angular 
Como as diretivas integradas do Angular, você pode gerenciar 
formulários, listas, estilos e o que os usuários veem.

As diretivas são separadas de algumas formas, como:
-->

<!-- 
  Diretivas de estruturais 
  Eles moldam ou remodelam a estrutura do DOM, adicionando, removendo e manipulando os
  elementos do host aos quais estão anexados.
-->

<!-- NgIf - Condicionalmente cria ou descarta visualizações do modelo. -->
<p *ngIf="conditionClick">
  O botão foi clicado!
</p>
<p *ngIf="!conditionClick">
  O botão não foi clicado! 
</p>

<button (click)="onClick()">Clicar</button>

<p *ngIf="condition; else elseBlock">Texto está aparecendo por que condição true</p>

<ng-template #elseBlock>
  <p>Texto está aparecendo por que condição false</p>
</ng-template>



<!-- NgFor - Repete um nó para cada item de uma lista.  -->

<!-- NgSwitch - Um conjunto de diretivas que alternam entre visões alternativas. -->

<!-- 
  Diretivas de atributo 
  Que alteram a aparência ou comportamento de um elemento, 
  componente ou outra diretiva. 
-->

<!-- NgClass - adiciona e remove um conjunto de classes CSS. -->

<!-- NgStyle - adiciona e remove um conjunto de estilos HTML.  -->

<!-- NgModel - adiciona vinculação de dados bidirecional a um elemento de formulário HTML -->


