<h2>Diretivas</h2>
<!--
As diretivas são classes que adicionam comportamento
adicional aos elementos em seus aplicativos Angular
Como as diretivas integradas do Angular, você pode gerenciar
formulários, listas, estilos e o que os usuários veem.

As diretivas são separadas de algumas formas, como:
-->

<!--
  Diretivas de estruturais

  Eles moldam ou remodelam a estrutura do DOM, adicionando, removendo e manipulando os
  elementos do host aos quais estão anexados.
-->

<h2>NgIf</h2>

<!-- NgIf - Condicionalmente cria ou descarta visualizações do modelo. -->
<p *ngIf="conditionClick">
  O botão foi clicado!
</p>
<p *ngIf="!conditionClick">
  O botão não foi clicado!
</p>

<button (click)="onClick()">Clicar</button>

<p *ngIf="condition; else elseBlock">Texto está aparecendo por que condição true</p>

<ng-template #elseBlock>
  <p>Texto está aparecendo por que condição false</p>
</ng-template>

<h2>NgFor</h2>

<!-- NgFor - Repete um nó para cada item de uma lista.  -->
<ul>
  <li *ngFor="let item of list">
    {{ item.nome }} - idade = {{ item.idade }}
  </li>
</ul>


<ul>
  <li *ngFor="let item of list; index as i;" (click)="onClickEventList(i)">
    [{{i}}] - {{ item.nome }} - idade = {{ item.idade }}
  </li>
</ul>


<button (click)="onClickAddList()">Add</button>


<!-- NgSwitch - Um conjunto de diretivas que alternam entre visões alternativas. -->
<input type="text" [(ngModel)]="nome">

<div [ngSwitch]="nome">
   <p *ngSwitchCase="'Natália'">Olá Natália</p>
   <p *ngSwitchCase="'João'">Olá João</p>
   <p *ngSwitchCase="'Apolo'">Olá Apolo</p>
   <p *ngSwitchDefault>Usuário não encontrado :(</p>
</div>


<!--
  Diretivas de atributo
  Que alteram a aparência ou comportamento de um elemento,
  componente ou outra diretiva.
-->
<h2>NgClass</h2>

<!-- NgClass - adiciona e remove um conjunto de classes CSS. -->
<p [ngClass]="{'active': valor, 'disabled': !valor}">Estou aprendendo ngClass</p>

<h2>NgStyle</h2>

<!-- NgStyle - adiciona e remove um conjunto de estilos HTML.  -->
<p [ngStyle]="{'height': heightPx, 'background-color': backgroundColor}">Estou aprendendo ngStyle</p>

<h2> NgModel </h2>

<!-- NgModel - adiciona vinculação de dados bidirecional a um elemento de formulário HTML -->
<input [(ngModel)]="tarefa" />
<button (click)="salvar()">Salvar</button>

<ul>
  <li *ngFor="let item of listaTarefa">{{item.tarefa}}</li>
</ul>

<!--
     NgTemplate - Cria um atributo no HTML limpo, não é uma div.
     Faz verificação com ngIF antes do DOM ser carregado.
     Angular define um modelo que não é renderizado por padrão.
-->
<ng-template [ngIf]="true" ngFor let-item [ngForOf]="listaTarefa">
  <p>{{item.tarefa}}</p>
</ng-template>

<!-- NgContent  -->
<ng-content select="hr"></ng-content>
<ng-content select="h1"></ng-content>
